.postarea {
    width: 80%;
    margin-left: 18.3rem;
    margin-top: 3.6rem;
    background-color: rgb(77, 77, 77);
    padding: 1rem;
    height: fit-content;
}

@media (max-width: 600px) {
    .postarea {
        width: 100%;
        margin-left: 0;
        margin-top: 5rem;
        background-color: green;
        padding: 1rem;
        height: fit-content;
    }
}

@media (min-width: 600px) and (max-width: 1100px) {
    .postarea {
        width: 80%;
        margin-left: 15rem;
        margin-top: 5rem;
        background-color: rgb(227, 220, 220);
        padding: 1rem;
        height: fit-content;
    }
}
